<nav class="site-nav">

{% if page.url == "/" %}
<span class="nav-current-page">خانه</span>
{% else %}
<a href="/" title="Home">خانه</a>
{% endif %}

<div class="right-nav-links" dir="ltr">
{% if page.url == "/about" %}
<span class="nav-current-page" style="margin: 0 1.75em; 0 0;">درباره</span>
{% else %}
<a href="/about" title="About" style="margin: 0 1.75em; 0 0;">درباره</a>
{% endif %}

{% if page.url == "/blog" %}
<span class="nav-current-page" >بلاگ</span>
{% else %}
<a href="/blog" title="Blog">بلاگ</a>
{% endif %}
</div>

</nav>
